<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<@p.cache/> <@p.js/><@p.css/>
<script src="/res/js/laypage/laypage.js"></script>
<script src="/res/js/operate/salesSlowMovingStock.js"></script>
<title>滞销商品</title>
<style type="text/css">
* {
	font-size: 13px;
	line-height: 25px;
}
</style>
</head>
<body>
	<@p.top/>

	<div style="width: 100%" class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>

		<div class="main-container-inner">
			<@p.left/>
			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li><i class="icon-home home-icon"> </i> <a href="#">
								Home </a></li>
						<li><a href="#"> Tables </a></li>
						<li class="active">滞销商品记录</li>
					</ul>
					<div class="nav-search" id="nav-search"></div>
				</div>
				<div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th colspan="16" style="text-align: center; font-size: 16px;">销售商品记录</th>
							</tr>
							<tr>
								<th style="text-align: center;">商品尺码编码</th>
								<th style="text-align: center;">货品编码</th>
								<th style="text-align: center;">库存数量</th>
								<th style="text-align: center;">历史售量</th>
								<th style="text-align: center;">货品图片</th>
								<th style="text-align: center;">报告日期</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<!-- 分页 -->
					<div id="pageSystem"
						style="width: 100%; position: relative; top: 10px;"></div>
				</div>
			</div>
			<!-- 隐藏的绝对路径，供jquery使用 -->
			<input type="hidden" value="${pageContext.request.contextPath}"
				id="path">
</body>
<script type="text/javascript" src="/res/js/input-date.js"></script>
</html>