<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>面料采购数据</title><@p.cache/><@p.css/> <@p.js/>
</head>

<body>
	<@p.top/>
	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>
		<div class="main-container-inner">
			<@p.left/>
			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try {
							ace.settings.check('breadcrumbs', 'fixed')
						} catch (e) {
						}
					</script>
					<ul class="breadcrumb">
						<li><i class="icon-home home-icon"> </i> <a href="#">
								Home </a></li>
						<li><a href="#"> Tables </a></li>
						<li class="active">采购数据</li>
					</ul>
					<!-- .breadcrumb -->
					<div class="nav-search" id="nav-search"></div>
					<!-- #nav-search -->
				</div>
				<div class="col-md-12">
					<button class="btn btn-primary btn-lg" data-toggle="modal"
						data-target="#myModal">添加</button>
				</div>
				<div class="col-md-12">
					<form action="exportCurrentFabricData.do" id="form-anyVal">
						<div id="val-input-empty" class="col-md-8">
							<div class="col-lg-4">
								<div class="input-group">
									<span class="input-group-addon"> 开始日期 </span> <input
										name="StartPurchaseDate" type="text"
										class="form-control input-date">
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<span class="input-group-addon"> 结束日期 </span> <input
										name="EndPurchaseDate" type="text"
										class="form-control input-date">
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<span class="input-group-addon"> 波次号 </span> <input name="wave"
										type="text" class="form-control">
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<span class="input-group-addon"> 面料材质 </span> <input
										name="fabricMaterial" type="text" class="form-control">
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<span class="input-group-addon"> 颜色 </span> <input
										name="colour" type="text" class="form-control">
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<span class="input-group-addon"> 面料单位 </span> <input name="kgM"
										type="text" class="form-control">
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<span class="input-group-addon"> 供应商 </span> <input
										name="supplier" type="text" class="form-control">
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<span class="input-group-addon"> 备注 </span> <input
										name="remarks" type="text" class="form-control">
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<span class="input-group-addon"> 下单日期 </span> <input
										name="purchasingOrderTime" type="text"
										class="form-control input-date">
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<span class="input-group-addon"> 付款日期 </span> <input
										name="purchasingPaymentTime" type="text"
										class="form-control input-date">
								</div>
							</div>
							<div class="col-lg-4">
								<div class="input-group">
									<span class="input-group-addon"> 采购状态 </span>
									<div>
										<select name="purchasingStatus">
											<option value="">全部</option>
											<option value="1">下单</option>
											<option value="2">未付款</option>
											<option value="5">未签收</option>
											<option value="6">未发放</option>
											<option value="7">订单未完成</option>
											<option value="9">已经采购过的数据</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-2">
							<span class="input-group-btn">
								<button id="anyVal-btn" class="btn btn-default" type="button">
									查询</button>
							</span>
						</div>
						<div>
							<input hidden="hidden" type="text" id="pageNow" name="pageNow"
								value=""> <input hidden="hidden" type="text"
								id="pageSize" name="pageSize" value="">
						</div>
					</form>
				</div>
				<!-- /.col-lg-6 -->
				<div class="col-md-12" style="height: 50px;"></div>
				<div class="page-content">
					<div class="col-xs-12">
						<div class="tabbable">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th colspan="6"><font color="red">导出当前查询数据:
												<button id="exportCurrentFabricData">导出</button>
										</font></th>
										<th colspan="36" style="text-align: center; font-size: 16px;">面料采购表</th>
									</tr>
									<tr>
										<th>序号</th>
										<th>日期</th>
										<th>波次号</th>
										<th>订单数量</th>
										<th>设计图</th>
										<!-- <th>供应商</th> -->
										<th>工艺单</th>
										<th>印绣花类型</th>
										<th>合用波次</th>
										<th>面料编号</th>
										<th>面料材质</th>
										<th>颜色</th>
										<th>预购条数</th>
										<th>收件人</th>
										<th width='10%' ;style="width: 110PX; height: 60px">收件地址</th>
										<th>用料</th>
										<th>米</th>
										<th>重量</th>
										<th>价格</th>
										<th>面料1</th>
										<th>面料2</th>
										<th>面料3</th>
										<th>面料4</th>
										<th>面料5</th>
										<th>面料6</th>
										<th>面料7</th>
										<th>面料8</th>
										<th>面料9</th>
										<th>面料10</th>
										<th>面料11</th>
										<th>面料12</th>
										<th>面料13</th>
										<th>面料14</th>
										<th>面料15</th>
										<th>面料16</th>
										<th>面料17</th>
										<th>面料18</th>
										<th>单位</th>
										<th>总条数</th>
										<th>差值</th>
										<th>运费</th>
										<th>求和</th>
										<th>总金额</th>
										<th>备注</th>
										<th>添加时间</th>
										<th>采购状态</th>
										<th>数据操作</th>
									</tr>
								</thead>
								<tbody class="table_app">
								</tbody>
							</table>
							<ul class="pager pagination-lg tcdPageCode">
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 添加 模态框（Modal）那怎么搞？ -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">添加 裁片外发生产进度数据</h4>
					</div>
					<form enctype="multipart/form-data" role="form" id="vender"
						action="addFabricSourcing.do" method="post">
						<div class="modal-body">
							<div class="col-md-12">
								<div class="col-md-4">
									<label for="additionTime"> 日期 </label> <input type="text"
										class="form-control input-date" name="additionTime"
										placeholder=" ">
								</div>
								<div class="col-md-4">
									<label for="wave"> 波号 </label> <input type="text"
										class="form-control" name="wave" placeholder=" ">
								</div>
								<div class="col-md-4">
									<label for="fabricMaterial"> 面料材质 </label> <input type="text"
										class="form-control" name="fabricMaterial" placeholder=" ">
								</div>
							</div>
							<div class="col-md-12">

								<div class="col-md-4">
									<label for="colour"> 颜色 </label> <input type="text"
										class="form-control" name="colour" placeholder=" ">
								</div>
								<div class="col-md-4">
									<label for="kgM"> 面料单位 </label> <input type="text"
										class="form-control" name="kgM" placeholder=" ">
								</div>
								<div class="col-md-4">
									<label class="control-label bolder blue">面料单位</label>
									<div class="radio">
										<label> <input name="kgM" type="radio" class=""
											value="KG" id="radio_kg_input"> <span class="lbl">
												KG</span>
										</label>
									</div>
									<div class="radio">
										<label> <input name="kgM" type="radio" class=""
											value="M" id="radio_m_input"> <span class="lbl">
												M</span>
										</label>
									</div>
									<div class="radio">
										<label> <input name="kgM" type="radio" class=""
											value="码" id="radio_code_input"> <span class="lbl">
												码</span>
										</label>
									</div>
								</div>
								<div class="col-md-4">
									<label for="remarks"> 备注 </label> <input type="text"
										class="form-control" name="remarks" placeholder=" ">
								</div>

							</div>
							<div class="col-md-12">

								<div class="col-md-4">
									<label for="oringinalWave"> 点下面按钮添加输入框 </label>
									<div class="btn btn-primary" onclick="addFabricinput()">
										<i class="icon-edit bigger-130"> </i> 添加
									</div>
								</div>
							</div>
							<div class="col-md-12" id="addFabricDiv">
								<div class="col-md-4">
									<label for="wave"> 面料1 </label> <input type="text"
										onkeyup="value=value.replace(/[^\d.]/g,'')"
										class="form-control" name="parameter1">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">关闭</button>
							<button type="submit" class="btn btn-primary">提交</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- .main-container-inner -->
		<!--修改 模态框（Modal） -->
		<div class="modal fade" id="myModal1" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">修改 裁片外发生产进度数据</h4>
					</div>
					<form enctype="multipart/form-data" role="form"
						id="modifyByDistribution" action="" method="post">
						<div class="modal-body">
							<div class="col-md-12">

								<div class="col-md-4">
									<label for="additionTime"> 日期 </label> <input type="text"
										class="form-control input-date" name="additionTime"
										id="additionTime" placeholder=" ">
								</div>
								<div class="col-md-4">
									<label for="wave"> 波次号 </label> <input type="text"
										class="form-control" name="wave" id="wave" placeholder=" ">
								</div>
								<div class="col-md-4">
									<label for="fabricMaterial"> 面料材质 </label> <input type="text"
										class="form-control" name="fabricMaterial" id="fabricMaterial">
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-md-4">
									<label for="colour"> 颜色 </label> <input type="text"
										class="form-control" name="colour" id="colour" placeholder="">
								</div>
								<div id="modifyAddDiv"></div>
							</div>
							<div class="col-md-12">
								<div class="col-md-4">
									<label for="kgM"> 单位 </label> <input type="text"
										class="form-control" name="kgM" id="kgM" placeholder="">
								</div>
								<div class="col-md-4">
									<label for="remarks"> 备注 </label> <input type="text"
										class="form-control" name="remarks" id="remarks"
										placeholder="">
								</div>
							</div>

							<input hidden="hidden" id="fabricOutflowId" type="text" value=""
								name="id">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal" onclick="delDvi()">关闭</button>
							<button type="button" onclick="modifyDistribution_btn()"
								class="btn btn-primary" data-dismiss="modal">提交</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- 采购提醒 -->
		<div class="modal fade" id="myModal_remind" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					</div>
					<div id="myModal-ReminderRontent" class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消
						</button>
						<button type="button" id="modal-submit-btn"
							class="btn btn-primary" data-dismiss="modal"
							onclick="ConfirmReminder()">确认</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- 刪除 -->
			<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
						</div>
						<div id="myModal-prompt" class="modal-body">
							你确定刪除波次号为: <span style="color: red" id="myModal2-wave-text">
							</span> 的数据嗎？？？
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">取消</button>
							<button type="button" id="del-btn" class="btn btn-primary">
								確認刪除</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
			<!-- /.main-container-inner -->
			<a href="#" id="btn-scroll-up"
				class="btn-scroll-up btn btn-sm btn-inverse"> <i
				class="icon-double-angle-up icon-only bigger-110"> </i>
			</a> <input type="hidden" value="${pageContext.request.contextPath}"
				id="path">
		</div>
</body>
<script type="text/javascript" src="/res/js/input-date.js"></script>
<script type="text/javascript">
	function delDvi() {
		$("#modifyAddDiv").empty();

	}
	var index = 0;
	function addFabricinput() {
		index = index + 1;
		if (index < 18) {
			var a = $("#addFabricDiv").find("input");
			$("#addFabricDiv")
					.append(
							"<div class='col-md-4'><label for='parameter'>面料"
									+ (a.length + 1)
									+ " </label><input type='text' onkeyup='value=value.replace(/[^\\d.]/g,&#39;&#39;)' class='form-control' name='parameter"
									+ (a.length + 1) + "'></div>");

		} else {
			alert("面料最多只能添加18个");
		}
	}
	function delByDistributionFabric(wave) {
		$("#myModal2-wave-text").text(wave);
	}
	$("#del-btn").on('click', function() {
		var id = $("#myModal2-wave-text").html();
		$.post('delFabricSourcing.do', {
			'id' : id
		}, function(data) {
			if (data = 1) {
				$("#myModal-prompt").html("恭喜你刪除成功");
				$("#del-btn").remove();
				var anyVal = $("#form-anyVal").serialize(); //获取form表单
				//調用方法
				findFabricSourcingPageByVal(anyVal); //調用分頁查詢 在這裏才調用
			} else {
				$("#myModal-prompt").html("删除失败！原因可能是网络问题");
				$("#del-btn").remove();
				var anyVal = $("#form-anyVal").serialize(); //获取form表单
				//調用方法
				findFabricSourcingPageByVal(anyVal); //調用分頁查詢 在這裏才調用
			}
		});
	})
	//点击查询获取查询的条件 数据
	$(function() {

		$("#anyVal-btn").on('click', function() { //点击事查詢事件
			$("#pageSize").attr('name', ""); //去掉分页查询pageSize
			$("#pageNow").attr('name', ""); //去掉分页查询pageNow
			var anyVal = $("#form-anyVal").serialize(); //獲取條件查詢字段

			$.post('getFabricSourcingByPageCount.do', anyVal, function(data) { //帶條件查詢縂條數
				$("#pageSize").attr('name', "pageSize"); //给pageSize赋值name
				$("#pageNow").attr('name', "pageNow"); //给pageNow赋name值
				$("#pageNow").val(1);
				var anyVal = $("#form-anyVal").serialize(); //獲取條件字段
				findFabricSourcingPageByVal(anyVal);
				$(".tcdPageCode").createPage({
					pageCount : data.totalPageCount,
					current : data.pageNow,
					backFn : function(p) {
						$("#pageSize").val(10);
						$("#pageNow").val(p); //給當前頁賦值
						var anyVal = $("#form-anyVal").serialize(); //获取form表单
						//調用方法
						findFabricSourcingPageByVal(anyVal); //調用分頁查詢 在這裏才調用
					}
				});
			});
		});
		//修改赋值方法 
		$("#up").uploadPreview({
			Img : "ImgPr",
			Width : 120,
			Height : 120
		});
	});
	//修改方法
	function modifyDistribution_btn() {
		var formData = new FormData($("#modifyByDistribution")[0]);
		$.ajax({
			url : 'modifyFabricSourcing.do',
			type : 'POST',
			data : formData,
			async : false,
			cache : false,
			contentType : false,
			processData : false,
			success : function(data) {
				var pageNow = $("#pageNow").val();
				$("#pageSize").val(10);
				$("#pageNow").val(pageNow); //給當前頁賦值
				var anyVal = $("#form-anyVal").serialize(); //获取form表单
				//調用方法
				findFabricSourcingPageByVal(anyVal);
			},
			error : function(data) {
				$("#pageSize").val(10);
				$("#pageNow").val(1); //給當前頁賦值
				var anyVal = $("#form-anyVal").serialize(); //获取form表单
				//調用方法
				findFabricSourcingPageByVal(anyVal);
			}
		});
	}
	/*页面加载执行的方法*/
	$.post('getFabricSourcingByPageCount.do', {}, function(data) {
		$("#pageSize").val(10); //默認查 10條數據这里啊 默认值是10
		$("#pageNow").val(data.pageNow);
		//获取form参数进行查询
		var anyVal = $("#form-anyVal").serialize();
		//調用方法传参
		findFabricSourcingPageByVal(anyVal);
		// 进入后台进行分页查询
		$(".tcdPageCode").createPage({ //哦哦
			pageCount : data.totalPageCount,
			//总页数
			current : data.pageNow,
			//当前页
			backFn : function(p) {
				$("#pageSize").val(10);
				$("#pageNow").val(p); //給當前頁賦值
				var anyVal = $("#form-anyVal").serialize(); //获取form表单
				//調用方法
				findFabricSourcingPageByVal(anyVal);
			}
		});
	});
	/* $("#val-input-empty").find('div').find('div').find(":input").each(
			function() {
				$(this).val("");
			}) */
	//查詢方法
	function findFabricSourcingPageByVal(anyVal) { //你的数据都是从这里查的？
		$
				.post(
						"findConditionFabricSourcingByPage.do",
						anyVal, //from表单内容
						function(data) {
							var id = 1;

							$(".table_app").empty(); //清空原有的数据
							for (var i = 0; i < data.length; i++) {
								var _HTML_TEBLE_ = "";
								_HTML_TEBLE_ = "<tr><td >"
										+ data[i].id
										+ "</td><input type='hidden' class='fabricCode' value='"
										+ data[i].fabricCode
										+ "'/><td >"
										+ (data[i].additionTime = null ? ''
												: data[i].additionTime)
										+ "</td><td id='wave' >"
										+ (data[i].wave == null ? ''
												: data[i].wave)
										+ "</td><td >"
										+ (data[i].numberOrder == null ? ''
												: data[i].numberOrder)
										+ "</td><td><img style='width: 60px; height: 60px' src=" + data[i].designImg + "></td><td>"
										+ (data[i].craftsOrder == null
												|| data[i].craftsOrder == "" ? ''
												: "<a href='" + data[i].craftsOrder+ "' target='_blank'>工艺单</a>")
										+ "</td><td class='modify-table-char' value='piecesApproved'>"
										+ (data[i].piecesApproved == null ? ''
												: data[i].piecesApproved)
										+ "</td><td class='modify-table-char' value='combinedWave'>"
										+ (data[i].combinedWave == null ? ''
												: data[i].combinedWave)
										+ "</td><td class='modify-table-char' value='fabricCode'>"
										+ (data[i].fabricCode == null ? ''
												: data[i].fabricCode)
										+ "</td><td class='modify-table-char' value='fabricMaterial'>"
										+ (data[i].fabricMaterial == null ? '' :data[i].fabricMaterial)
										+ "</td><td class='modify-table-char' value='colour'>"
										+ (data[i].colour == null ? ''
												: data[i].colour)
										+ "</td><td class='modify-table-numeric' value='scheduledNumber'>"
										+ (data[i].scheduledNumber == null ? ''
												: data[i].scheduledNumber)
										+ "</td><td class='modify-table-char' value='recipient'>"
										+ (data[i].recipient == null ? ''
												: data[i].recipient)
										+ "</td><td class='modify-table-char' value='recipientAddress'>"
										+ (data[i].recipientAddress == null ? ''
												: data[i].recipientAddress)
										+ "</td><td class='modify-table-char' value='materials'>"
										+ (data[i].materials == null ? ''
												: data[i].materials)
										+ "</td><td class='modify-table-numeric' value='actualDosage'>"
										+ (data[i].actualDosage == null ? ''
												: data[i].actualDosage)
										+ "</td><td class='modify-table-numeric' value='weight'>"
										+ (data[i].weight == null ? ''
												: data[i].weight)
										+ "</td><td class='modify-table-numeric' value='fabricPrices'>"
										+ (data[i].fabricPrices == null ? ''
												: data[i].fabricPrices)
										+ "</td><td class='modify-table-numeric' value='parameter1'>"
										+ (data[i].parameter1 == null ? ''

										: data[i].parameter1)
										+ "</td><td class='modify-table-numeric' value='parameter2'>"
										+ (data[i].parameter2 == null ? ''
												: data[i].parameter2)
										+ "</td><td class='modify-table-numeric' value='parameter3'>"
										+ (data[i].parameter3 == null ? ''
												: data[i].parameter3)
										+ "</td><td class='modify-table-numeric' value='parameter4'>"
										+ (data[i].parameter4 == null ? ''
												: data[i].parameter4)
										+ "</td><td class='modify-table-numeric' value='parameter5'>"
										+ (data[i].parameter5 == null ? ''
												: data[i].parameter5)
										+ "</td><td class='modify-table-numeric' value='parameter6'>"
										+ (data[i].parameter6 == null ? ''
												: data[i].parameter6)
										+ "</td><td class='modify-table-numeric' value='parameter7'>"
										+ (data[i].parameter7 == null ? ''
												: data[i].parameter7)
										+ "</td><td class='modify-table-numeric' value='parameter8'>"
										+ (data[i].parameter8 == null ? ''
												: data[i].parameter8)
										+ "</td><td class='modify-table-numeric' value='parameter9'>"
										+ (data[i].parameter9 == null ? ''
												: data[i].parameter9)
										+ "</td><td class='modify-table-numeric' value='parameter10'>"
										+ (data[i].parameter10 == null ? ''
												: data[i].parameter10)
										+ "</td><td class='modify-table-numeric' value='parameter11'>"
										+ (data[i].parameter11 == null ? ''
												: data[i].parameter11)
										+ "</td><td class='modify-table-numeric' value='parameter12'>"
										+ (data[i].parameter12 == null ? ''
												: data[i].parameter12)
										+ "</td><td class='modify-table-numeric' value='parameter13'>"
										+ (data[i].parameter13 == null ? ''
												: data[i].parameter13)
										+ "</td><td class='modify-table-numeric' value='parameter14'>"
										+ (data[i].parameter14 == null ? ''
												: data[i].parameter14)
										+ "</td><td class='modify-table-numeric' value='parameter15'>"
										+ (data[i].parameter15 == null ? ''
												: data[i].parameter15)
										+ "</td><td class='modify-table-numeric' value='parameter16'>"
										+ (data[i].parameter16 == null ? ''
												: data[i].parameter16)
										+ "</td><td class='modify-table-numeric' value='parameter17'>"
										+ (data[i].parameter17 == null ? ''
												: data[i].parameter17)
										+ "</td><td class='modify-table-numeric' value='parameter18'>"
										+ (data[i].parameter18 == null ? ''
												: data[i].parameter18)
										+ "</td><td class='modify-table-char' value='kgM'>"
										+ (data[i].kgM == null ? ''
												: data[i].kgM)
										+ "</td><td >"
										+ (data[i].totalCount == null ? ''
												: data[i].totalCount)
										+ "</td><td class='modify-table-numeric' value='difference'>"
										+ (data[i].difference == null ? ''
												: data[i].difference)
										+ "</td><td class='modify-table-numeric' value='fabricFreight'>"
										+ (data[i].fabricFreight == null ? ''
												: data[i].fabricFreight)
										+ "</td><td >"
										+ (data[i].totalWeight == null ? ''
												: data[i].totalWeight)
										+ "</td><td>"
										+ (data[i].totalMount == null ? ''
												: data[i].totalMount)
										+ "</td><td class='modify-table-char' value='remarks'>"
										+ (data[i].remarks == null ? ''
												: data[i].remarks)
										+ "</td><td >"
										+ (data[i].addTime == null ? ''
												: data[i].addTime)
										+ "</td><td class='purchasingStatus"+data[i].id+"'></td><td ><button type='button'  data-toggle='modal' data-target='#myModal2' onclick='delByDistributionFabric(\""
										+ data[i].id
										+ "\")' class='icon-trash btn btn-danger'>删除</button></td></tr>";
								$(".table_app").append(_HTML_TEBLE_);
								var purchasingStatus = data[i].purchasingStatus;
								if (purchasingStatus != ""
										&& purchasingStatus != null
										&& purchasingStatus == 1) {
									$(".purchasingStatus" + data[i].id)
											.parent().attr("bgcolor", "#fff");
									$(".purchasingStatus" + data[i].id).find(
											'button').remove();
									$(".purchasingStatus" + data[i].id)
											.append(
													"<button data-toggle='modal'  data-target='#myModal_remind' class='btn  icon-ok btn-inverse btn-val' value='2'>下单</button>");
								}
								if (purchasingStatus != ""
										&& purchasingStatus != null
										&& purchasingStatus == 2) {
									$(".purchasingStatus" + data[i].id)
											.parent()
											.attr("bgcolor", "#FF7D00");
									$(".purchasingStatus" + data[i].id).find(
											'button').remove();
									$(".purchasingStatus" + data[i].id)
											.append(
													"<button data-toggle='modal'  data-target='#myModal_remind' class='btn icon-ok btn-success btn-val'  value='3'>付款</button>");

								}

								if (purchasingStatus != ""
										&& purchasingStatus != null
										&& purchasingStatus == 5) {
									$(".purchasingStatus" + data[i].id)
											.parent()
											.attr("bgcolor", "#CEFFCE");
									$(".purchasingStatus" + data[i].id).find(
											'button').remove();
									$(".purchasingStatus" + data[i].id)
											.append(
													"<button data-toggle='modal'  data-target='#myModal_remind' class='btn icon-ok btn-success btn-val' value='6' disabled='disabled'>签收</button>");

								}
								if (purchasingStatus != ""
										&& purchasingStatus != null
										&& purchasingStatus == 6) {
									$(".purchasingStatus" + data[i].id)
											.append(
													"<button data-toggle='modal'  data-target='#myModal_remind' class='btn icon-ok btn-success btn-val' value='7' disabled='disabled'>发放</button>");
									$(".purchasingStatus" + data[i].id)
											.parent()
											.attr("bgcolor", "#FF7F50");
								}
								if (purchasingStatus != ""
										&& purchasingStatus != null
										&& purchasingStatus == 7) {
									$(".purchasingStatus" + data[i].id)
											.append(
													"<button data-toggle='modal'  data-target='#myModal_remind' class='btn icon-ok btn-success btn-val' value='7' disabled='disabled'>订单完成</button>");
									$(".purchasingStatus" + data[i].id)
											.parent()
											.attr("bgcolor", "#FF7F50");
								}
								if (purchasingStatus != ""
										&& purchasingStatus != null
										&& purchasingStatus == 9) {
									$(".purchasingStatus" + data[i].id)
											.append(
													"<button data-toggle='modal'  data-target='#myModal_remind' class='btn icon-ok btn-success btn-val' value='7' disabled='disabled'>已经采购过的数据</button>");
									$(".purchasingStatus" + data[i].id)
											.parent()
											.attr("bgcolor", "#FF66FF");
								}
								
							}
							;
							modifyCellByNumeric("modifyFabricSourcing.do",
									findFabricSourcingPageByVal);
							modifyCellByChar("modifyFabricSourcing.do",
									findFabricSourcingPageByVal);
							$(".btn-val")
									.on(
											"click",
											function() {
												var status = $(this).val();
												var goodsId = $(this).parent()
														.parent().find(
																"td:eq(0)")
														.text().trim();
												var wave = $(this).parent()
														.parent().find("#wave")
														.text().trim();
												$("#myModal-ReminderRontent")
														.html(
																"你要确定波次号为:<span style='color: red' id='wave-text'></span>的产品进行<sapn style='color: #97FFFF;'>确认</sapn>工作 吗??? <br> <span style='color: red; font-size: 18px;'>确认之前；你要确定所有数据都填写完整了哦!!!</span><input hidden='hidden' type='text' id='goods-id' /><input hidden='hidden' type='text' id='goods-status' />");
												$("#wave-text").text(wave);
												$("#goods-id").text(goodsId);
												$("#goods-status").text(status);
												$("#modal-submit-btn").show();
											});
						});
	}
	function ConfirmReminder() {
		var goodsId = $("#goods-id").text();
		var status = $("#goods-status").text();
		$.post('modifyFabricSourcingPurchasingStatus.do', {
			'id' : goodsId,
			'purchasingStatus' : status
		}, function(data) {
			if (data = 1) {
				$("#myModal-ReminderRontent").html("恭喜你！已经确认成功");
				$("#modal-submit-btn").hide();
				var pageNow = $("#pageNow").val();
				$("#pageSize").val(10);
				$("#pageNow").val(pageNow); //給當前頁賦值
				var formAnyVal = $("#form-anyVal").serialize();
				findFabricSourcingPageByVal(formAnyVal);
			} else {
				$(" #myModal-ReminderRontent").html("发送失败！原因可能是网络问题" + data);
				$("#modal-submit-btn").hide();
				$("#pageSize").val(10);
				$("#pageNow").val(pageNow); //給當前頁賦值
				var formAnyVal = $("#form-anyVal").serialize();
				findFabricSourcingPageByVal(formAnyVal);
			}
		});
	};
	$("#myselect").click(function() {
		$("#mydiv").show();
	});
	$("#exportCurrentFabricData").on('click', function() {
		var anyVal = $("#form-anyVal").serialize();
		$("#form-anyVal").submit();
		//window.open("exportCurrentFabricData.do?anyVal=" + anyVal, "#");
	})
	
</script>

</html>