<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<@p.cache/> <@p.css/> <@p.js/>
<script src="/res/js/laypage/laypage.js"></script>
<script src="/res/js/getEmbroider/getEmbroider.js"></script>
<title>裁片印绣花领料日报表</title>
</head>
<body>
	<@p.top/>
	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>
		<div class="main-container-inner">
			<@p.left/>
			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try {
							ace.settings.check('breadcrumbs', 'fixed')
						} catch (e) {
						}
					</script>
					<ul class="breadcrumb">
						<li><i class="icon-home home-icon"> </i> <a href="#">
								Home </a></li>
						<li><a href="#"> Tables </a></li>
						<li class="active">片印领料</li>
					</ul>
					<!-- .breadcrumb -->
					<div class="nav-search" id="nav-search"></div>
					<!-- #nav-search -->
				</div>
				<div>
					<div class="col-md-12">
						<button style="float: right;" class="btn btn-primary btn-lg"
							data-toggle="modal" data-target="#myModal" id="add">添 加</button>
						<div style="float: left;">
							<font>波次查询</font> <input type="text" name="girard"
								id="checkByGirard" />
							<button id="checkbtn" class="btn btn-default">查 询</button>
						</div>
					</div>
					<div class="col-md-12"></div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th colspan="30" style="text-align: center; font-size: 16px;">裁片印绣花领料日报表</th>
							</tr>
							<tr>
								<th style="text-align: center;">公司名称</th>
								<th style="text-align: center;">发出时间</th>
								<th style="text-align: center;">波次号</th>
								<th style="text-align: center;">面料号</th>
								<th style="text-align: center;">52码</th>
								<th style="text-align: center;">59码</th>
								<th style="text-align: center;">66码</th>
								<th style="text-align: center;">73码</th>
								<th style="text-align: center;">80码</th>
								<th style="text-align: center;">90码</th>
								<th style="text-align: center;">100码</th>
								<th style="text-align: center;">110码</th>
								<th style="text-align: center;">120码</th>
								<th style="text-align: center;">130码</th>
								<th style="text-align: center;">160码</th>
								<th style="text-align: center;">170码</th>
								<th style="text-align: center;">总件数</th>
								<th style="text-align: center;" colspan="3">操 作</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<!-- 分页 -->
					<div id="pageSystem"
						style="width: 100%; position: relative; top: 10px;"></div>
				</div>
			</div>

			<!-- 添加模态框 -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">添加裁片印绣花领料</h4>
						</div>
						<div class="modal-body" id="add_form">
							<div class="col-md-12">
								<div class="col-md-6">
									<label for="company">公司名称</label> <input type="text"
										class="form-control" name="color" placeholder="" id="company">
								</div>
								<div class="col-md-6">
									<label for="edate">发出时间</label> <input type="text"
										class="form-control input-date" name="edate" placeholder=""
										id="edate">
								</div>
								<div class="col-md-6">
									<label for="girard">波次号</label> <input type="text"
										class="form-control" name="boci" placeholder="" id="girard">
								</div>
								<div class="col-md-6">
									<label for="fabric">面料号</label> <input type="text"
										class="form-control" name="mianliao" placeholder=""
										id="fabric">
								</div>
								<div class="col-md-4">
									<label for="code52">52码</label> <input type="text"
										class="form-control" onkeyup="value=value.replace(/\D/g,'')"
										name="color" placeholder="" id="code52">
								</div>
								<div class="col-md-4">
									<label for="code1">59码</label> <input type="text"
										class="form-control" onkeyup="value=value.replace(/\D/g,'')"
										name="color" placeholder="" id="code1">
								</div>
								<div class="col-md-4">
									<label for="code2">66码</label> <input type="text"
										class="form-control" onkeyup="value=value.replace(/\D/g,'')"
										name="color" placeholder="" id="code2">
								</div>
								<div class="col-md-4">
									<label for="code3">73码</label> <input type="text"
										class="form-control" onkeyup="value=value.replace(/\D/g,'')"
										name="color" placeholder="" id="code3">
								</div>
								<div class="col-md-4">
									<label for="code4">80码</label> <input type="text"
										class="form-control" onkeyup="value=value.replace(/\D/g,'')"
										name="color" placeholder="" id="code4">
								</div>
								<div class="col-md-4">
									<label for="code5">90码</label> <input type="text"
										class="form-control" onkeyup="value=value.replace(/\D/g,'')"
										name="color" placeholder="" id="code5">
								</div>
								<div class="col-md-4">
									<label for="code6">100码</label> <input type="text"
										class="form-control" onkeyup="value=value.replace(/\D/g,'')"
										name="color" placeholder="" id="code6">
								</div>
								<div class="col-md-4">
									<label for="code110">110码</label> <input type="text"
										class="form-control" name="code110" placeholder=""
										onkeyup="value=value.replace(/\D/g,'')" id="code110">
								</div>
								<div class="col-md-4">
									<label for="code120">120码</label> <input type="text"
										class="form-control" name="code120" placeholder=""
										onkeyup="value=value.replace(/\D/g,'')" id="code120">
								</div>
								<div class="col-md-4">
									<label for="code130">130码</label> <input type="text"
										class="form-control" name="code130" placeholder=""
										onkeyup="value=value.replace(/\D/g,'')" id="code130">
								</div>
								<div class="col-md-4">
									<label for="code160">160码</label> <input type="text"
										class="form-control" name="code160" placeholder=""
										onkeyup="value=value.replace(/\D/g,'')" id="code160">
								</div>
								<div class="col-md-4">
									<label for="code170">170码</label> <input type="text"
										class="form-control" name="code170" placeholder=""
										onkeyup="value=value.replace(/\D/g,'')" id="code170">
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal"
							id="addEmbroider">添加</button>
					</div>
				</div>
			</div>
			<!--修改 模态框（Modal） -->
			<div class="modal fade" id="myModal1" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">

				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">修改裁片印绣花领料</h4>
						</div>
						<div class="modal-body">
							<div class="col-md-12">
								<input type="hidden" class="form-control" name="eid" id="eid"
									readonly="readonly">
								<div class="col-md-6">
									<label for="company">公司名称</label> <input type="text"
										class="form-control" name="color" placeholder="" id="ucompany">
								</div>
								<div class="col-md-6">
									<label for="edate">发出时间</label> <input type="text"
										class="form-control input-date" name="edate" placeholder=""
										id="udate">
								</div>
								<div class="col-md-6">
									<label for="girard">波次号</label> <input type="text"
										class="form-control" name="boci" placeholder="" id="ugirard">
								</div>
								<div class="col-md-6">
									<label for="fabric">面料号</label> <input type="text"
										class="form-control" name="mianliao" placeholder=""
										id="ufabric">
								</div>
								<div class="col-md-4">
									<label for="code52">52码</label> <input type="text"
										class="form-control" onkeyup="value=value.replace(/\D/g,'')"
										name="color" placeholder="" id="ucode52">
								</div>
								<div class="col-md-4">
									<label for="code1">59码</label> <input type="text"
										class="form-control" onkeyup="value=value.replace(/\D/g,'')"
										name="color" placeholder="" id="ucode1">
								</div>
								<div class="col-md-4">
									<label for="code2">66码</label> <input type="text"
										class="form-control" onkeyup="value=value.replace(/\D/g,'')"
										name="color" placeholder="" id="ucode2">
								</div>
								<div class="col-md-4">
									<label for="code3">73码</label> <input type="text"
										class="form-control" onkeyup="value=value.replace(/\D/g,'')"
										name="color" placeholder="" id="ucode3">
								</div>
								<div class="col-md-4">
									<label for="code4">80码</label> <input type="text"
										class="form-control" onkeyup="value=value.replace(/\D/g,'')"
										name="color" placeholder="" id="ucode4">
								</div>
								<div class="col-md-4">
									<label for="code5">90码</label> <input type="text"
										class="form-control" onkeyup="value=value.replace(/\D/g,'')"
										name="color" placeholder="" id="ucode5">
								</div>
								<div class="col-md-4">
									<label for="code6">100码</label> <input type="text"
										class="form-control" onkeyup="value=value.replace(/\D/g,'')"
										name="color" placeholder="" id="ucode6">
								</div>
								<div class="col-md-4">
									<label for="code110">110码</label> <input type="text"
										class="form-control" name="code110" placeholder=""
										onkeyup="value=value.replace(/\D/g,'')" id="ucode110">
								</div>
								<div class="col-md-4">
									<label for="code120">120码</label> <input type="text"
										class="form-control" name="code120" placeholder=""
										onkeyup="value=value.replace(/\D/g,'')" id="ucode120">
								</div>
								<div class="col-md-4">
									<label for="code130">130码</label> <input type="text"
										class="form-control" name="code130" placeholder=""
										onkeyup="value=value.replace(/\D/g,'')" id="ucode130">
								</div>
								<div class="col-md-4">
									<label for="code160">160码</label> <input type="text"
										class="form-control" name="code160" placeholder=""
										onkeyup="value=value.replace(/\D/g,'')" id="ucode160">
								</div>
								<div class="col-md-4">
									<label for="code170">170码</label> <input type="text"
										class="form-control" name="code170" placeholder=""
										onkeyup="value=value.replace(/\D/g,'')" id="ucode170">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">关闭</button>
							<!-- <button type="button" class="btn btn-default" data-dismiss="modal"
							onclick="del()">删除</button> -->
							<button type="button" class="btn btn-primary"
								data-dismiss="modal" id="uppEmbroider"
								style="background-color: #428bca;">修改</button>
						</div>
					</div>
				</div>
			</div>
</body>
<script type="text/javascript" src="/res/js/input-date.js"></script>
</html>