<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>辅料跟单</title> <@p.cache/> <@p.css/> <@p.js/>
    <style>
        .btn-primary{
            border-color: white;
        }
    </style>
</head>
<body>
<@p.top/>
<div class="main-container" id="main-container">
    <div class="main-container-inner">
        <@p.left/>
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li><i class="icon-home home-icon"> </i> <a href="#">
                        Home </a></li>
                    <li><a href="#"> Tables </a></li>
                    <li class="active">辅料跟单</li>
                </ul>
                <!-- .breadcrumb -->
                <div class="nav-search" id="nav-search"></div>
                <!-- #nav-search -->
            </div>
            <div class="col-md-12">
                <button id="add_button" class="btn btn-primary btn-lg"
                        data-toggle="modal" data-target="#myModal">添加
                </button>
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-md-12">
                <form enctype="multipart/form-data" role="form" action=""
                      id="form-anyVal" method="post">
                    <div id="val-input-empty" class="col-md-12">
                        <div class="col-md-2">
                            <label for="queryAddDate">日期</label>
                            <input type="text" name="addTime" id="queryAddDate"/>
                        </div>
                        <div class="col-md-2">
                            <label for="queryWave">波次号</label>
                            <input type="text" name="wave" id="queryWave"/>
                        </div>
                        <div class="col-md-2">
                            <label for="queryStatus">状态</label>
                            <input type="text" name="accesStatus" id="queryStatus"/>
                        </div>
                        <div class="col-md-2">
								<span class="input-group-btn">
									<button id="queryAccesOrderSort" class="btn btn-default" type="button"> 查询</button>
								</span>
                        </div>
                    </div>
                    <div>
                        <input hidden="hidden" type="text" id="pageNow" name="pageNow" value="">
                        <input hidden="hidden" type="text" id="pageSize" name="pageSize" value="">
                    </div>
                </form>
            </div>
            <div class="page-content">
                <div class="col-xs-12">
                    <div class="tabbable">
                        <table class="table  table-bordered">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>日期</th>
                                <th>波段</th>
                                <th>订单数</th>
                                <th>订单详情</th>
                                <th>裁剪数</th>
                                <th>裁剪详情</th>
                                <th>裁剪日期</th>
                                <th>数量差值</th>
                                <th>指定工厂</th>
                                <th>指定工厂日期</th>
                                <th>图片</th>
                                <th>辅料1</th>
                                <th>数量1</th>
                                <th>辅料2</th>
                                <th>数量2</th>
                                <th>辅料3</th>
                                <th>数量3</th>
                                <th>辅料4</th>
                                <th>数量4</th>
                                <th>辅料5</th>
                                <th>数量5</th>
                                <th>辅料6</th>
                                <th>数量6</th>
                                <th>备注</th>
                                <th>完成数</th>
                                <th>辅料总数</th>
                                <th>配发状态</th>
                                <th>辅料流转状态</th>
                                <th>配发方式</th>
                                <th>发放数量</th>
                                <th>是否已追加</th>

                                <th colspan="1">操作</th>
                            </tr>
                            </thead>
                            <tbody class="table_app">
                            </tbody>
                        </table>
                        <ul class="pager pagination-lg tcdPageCode">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    //页面加载就执行
    $(function () {
        $(".col-md-2").find(":input").each(
            function () {
                $(this).val("");
            });
        var anyVal = $("#form-anyVal").serialize();
        orderFollowBpcnt(anyVal);
    });

    //条件查询
    $("#queryAccesOrderSort").on("click", function () {
        var anyVal = $("#form-anyVal").serialize();
        orderFollowBpcnt(anyVal);
    });

    //提交
    $("#submit-btn").on("click", function () {
        var formData = new FormData($("#form-input")[0]);
        var if_input_Id = $("#obj_hidden_id").val();
        if (if_input_Id != "" && if_input_Id != null) {
            //修改
            modifyAccessoryMaterial(formData);
        } else {
            //添加
            addAccessoryMaterial(formData);
        }
    });
    //查询总条数
    function orderFollowBpcnt(anyVal) {
        $.post('orderFollowBpcnt.do', anyVal,
            function (data) {
                $("#pageSize").val(10); //默認查 10條數據这里啊 默认值是10
                $("#pageNow").val(data.pageNow);
                var anyVal2 = $("#form-anyVal").serialize();
                //获取form参数进行查询
                //調用方法传参
                orderFollowList(anyVal2);
                // 进入后台进行分页查询
                $(".tcdPageCode").createPage({ //哦哦
                    pageCount: data.totalPageCount, //总页数
                    current: data.pageNow, //当前页
                    backFn: function (p) {
                        $("#pageSize").val(10);
                        $("#pageNow").val(p); //給當前頁賦值
                        var anyVal1 = $("#form-anyVal").serialize(); //获取form表单
                        //調用方法
                        orderFollowList(anyVal1);
                    }
                });
            });
    }
    //查询
    function orderFollowList(anyVal) {
        $.post("orderFollowList.do", anyVal, //from表单内容
            function (data) {
                $(".table_app").empty(); //清空原有的数据
                for (var i = 0; i < data.length; i++) {
                    var _HTML_TEBLE_ = "";
                    _HTML_TEBLE_ = "<tr>" + +"<input type='hidden' class='id' value='"
                        + data[i].id
                        + "'/>"
                        + "<td>"
                        + data[i].id
                        + "</td><td >"
                        + (data[i].addTime == null ? '' : data[i].addTime)
                        + "</td><td >"
                        + (data[i].wave == null ? '' : data[i].wave)
                        + "</td><td >"
                        + (data[i].orderNum == null ? '' : data[i].orderNum)
                        + "</td><td >"
                        + (data[i].orderDetails == null ? '' : data[i].orderDetails)
                        + "</td><td >"
                        + (data[i].cropNum == null ? '' : data[i].cropNum)
                        + "</td><td >"
                        + (data[i].cropDetails == null ? '' : data[i].cropDetails)
                        + "</td><td >"
                        + (data[i].cropInfoUptt == null ? '' : data[i].cropInfoUptt)
                        + "</td><td >"
                        + (data[i].numDiff == null ? '' : data[i].numDiff)
                        + "</td><td >"
                        + (data[i].specFctry == null ? '' : data[i].specFctry)
                        + "</td><td >"
                        + (data[i].specFctryInfoUptt == null ? '' : data[i].specFctryInfoUptt)
                        + "</td><td ><img style='width: 120px; height: 120px' src=" + data[i].img + "></td><td>"
                        + (data[i].accesOne == null ? '' : data[i].accesOne)
                        + "</td><td class='followParamModify' name='accesOneQuantity'>"
                        + (data[i].accesOneQuantity == null ? '' : data[i].accesOneQuantity)
                        + "</td><td>"
                        + (data[i].accesTwo == null ? '' : data[i].accesTwo)
                        + "</td><td class='followParamModify' name='accesTwoQuantity'>"
                        + (data[i].accesTwoQuantity == null ? '' : data[i].accesTwoQuantity)
                        + "</td><td >"
                        + (data[i].accesThree == null ? '' : data[i].accesThree)
                        + "</td><td  class='followParamModify' name='accesThreeQuantity'>"
                        + (data[i].accesThreeQuantity == null ? '' : data[i].accesThreeQuantity)
                        + "</td><td class='fillOrderSort' name='accesFour'>"
                        + (data[i].accesFour == null ? '' : data[i].accesFour)
                        + "</td><td  class='followParamModify' name='accesFourQuantity'>"
                        + (data[i].accesFourQuantity == null ? '' : data[i].accesFourQuantity)
                        + "</td><td class='fillOrderSort' name='accesFive'>"
                        + (data[i].accesFive == null ? '' : data[i].accesFive)
                        + "</td><td class='followParamModify' name='accesFiveQuantity'>"
                        + (data[i].accesFiveQuantity == null ? '' : data[i].accesFiveQuantity)
                        + "</td><td class='fillOrderSort' name='accesSix'>"
                        + (data[i].accesSix == null ? '' : data[i].accesSix)
                        + "</td><td class='followParamModify' name='accesSixQuantity'>"
                        + (data[i].accesSixQuantity == null ? '' : data[i].accesSixQuantity)
                        + "</td><td class='fillRemarkFollow' name='accesRemarks'>"
                        + (data[i].accesRemarks == null ? '' : data[i].accesRemarks)
                        + "</td><td>"
                        + (data[i].readySumSort == null || data[i].readySumSort == "" ? '' : data[i].readySumSort)
                        + "</td><td>"
                        + (data[i].sumSort == null || data[i].sumSort == "" ? '' : data[i].sumSort)
                        + "</td><td class='followStatus" + data[i].id + "'>"
                        + (data[i].followStatus == null || data[i].followStatus == ""? '' : data[i].followStatus)
                        + "</td><td class='accesStatus" + data[i].id + "'>"
                        + (data[i].accesStatus == null || data[i].accesStatus == "" ? '' : data[i].accesStatus)
                        + "</td><td>"
                        + (data[i].issueMethod == null || data[i].issueMethod == "" ? '' : data[i].issueMethod)
                        + "</td><td>"
                        + (data[i].issueNum == null || data[i].issueNum == "" ? '' : data[i].issueNum)
                        + "</td><td>"
                        + (data[i].isReplenishStatus == null || data[i].isReplenishStatus == "" ? '' : data[i].isReplenishStatus)

                        + "</td><td>"
                        + "<button type='button' border-color='white' onclick='issueByOrderNum(\""
                        + data[i].id
                        + "\")' class='btn btn-primary btn-sm icon-confirm'>订单数配发</button>"
                        + "<button type='button' border-color='white' onclick='issueByCropNum(\""
                        + data[i].id
                        + "\")' class='btn btn-primary btn-sm icon-confirm'>裁剪数配发</button>"
                        + "<button type='button' border-color='white' onclick='issueForAddtion(\""
                        + data[i].id
                        + "\")' class='btn btn-primary btn-sm icon-confirm'>追加补料单</button>"
                        + "</td></tr>";
                    $(".table_app").append(_HTML_TEBLE_);
                    var accesStatus = data[i].accesStatus;
                    var issId = data[i].id;
                    changeFollowBgc(accesStatus, issId);
                }
                followParamModify();
                fillRemarkFollow();
            });
    }

    function issueByOrderNum(id) {
        var flag = confirm("确认 按订单数 配发辅料？");
        var data = {
            id: id
        };
        if (flag) {
            var tdArgs = $(".accesStatus" + id);
            $.ajax({
                url: "issueByOrderNum.do",
                dataType: 'json',
                type: 'post',
                data: data,
                success: function (result) {
                    askIssueSuccess(result,tdArgs);
                },
                error: function (result) {
                    alert("异常，联系研发人员！");
                }
            });
        }
    }

    function issueByCropNum(id) {
        var flag = confirm("确认 按裁剪数 配发辅料？");
        var data = {
            id: id
        };
        if (flag) {
            var tdArgs = $(".accesStatus" + id);
            $.ajax({
                url: "issueByCropNum.do",
                dataType: 'json',
                type: 'post',
                data: data,
                success: function (result) {
                    askIssueSuccess(result,tdArgs);
                },
                error: function (result) {
                    alert("异常，联系研发人员！");
                }
            });
        }
    }

    function issueForAddtion(id) {
        var flag = confirm("确认 追加补料单？");
        var data = {
            id: id
        };
        if (flag) {
            var tdArgs = $(".accesStatus" + id);
            $.ajax({
                url: "issueForAddtion.do",
                dataType: 'json',
                type: 'post',
                data: data,
                success: function (result) {
                    askIssueSuccess(result,tdArgs);
                },
                error: function (result) {
                    alert("异常，联系研发人员！");
                }
            });
        }
    }

    function askIssueSuccess(result,tdArgs) {
        if (result.followException != "无异常"){
            alert(result.followException);
        }else {
            var accesStatus = result.accesStatus;
            var isReplenishStatus = result.isReplenishStatus;
            tdArgs.text(accesStatus);
            tdArgs.next().text(isReplenishStatus);
            var issId = result.id;
            changeFollowBgc(accesStatus, issId);
//            disableAcCompleteBtn(issId);
        }
    }

    //改变辅料跟单单背景色
    function changeFollowBgc(status, issId) {
        if (status == "确认配发") {
            $(".accesStatus" + issId).parent().css("background", "#bbffbb");
        } else if (status == "配发完成") {
            $(".accesStatus" + issId).parent().css("background", "#ffaad5");
        } else if (status == "追加补料单") {
            $(".accesStatus" + issId).parent().css("background", "#ffbb77");
        }  else if (status == "可配发") {
            $(".accesStatus" + issId).parent().css("background", "#84C1FF");
        } else {
            $(".accesStatus" + issId).parent().css("background", "none");
        }
    }
    function fillRemarkFollow() {
        $(".fillRemarkFollow").on(
            "dblclick",
            function () {
                var id = $(this).parent().children("td:first").html();
                id = parseInt(id);
                var code = $(this).text().trim();
                var name = $(this).attr("name");
                $(this).html(
                    "<input id='" + id + "' type='text' value='" + code
                    + "' name='" + name + "'> ");
                $("#" + id).focus();// 文本框获取光标事件
                savaRemarkFollow(id, name);
            });
    }

    function savaRemarkFollow(id, name) {
        $("#" + id).blur(
            function () {
                var updatedArgs = $(this).val();
                var trlabele = $(this).closest("td");
                trlabele.text(updatedArgs);
                var data = {
                    id: id
                };
                data[name] = updatedArgs;
                $.ajax({
                    url: 'savaRemarkFollow.do',
                    dataType: 'json',
                    type: 'post',
                    data: data,
                    success: function (data) {
                        var trlabel = trlabele.parents();
                        //
                    },
                    error: function () {
                        alert("修改失败!");
                    }
                });
            });
    }


    //配料数量修改
    function followParamModify() {
        $(".followParamModify").on(
            "dblclick",
            function (e) {
                stopDefault(e);
                stopBubble(e);
                var id = $(this).parent().children("td:first").html();
                id = parseInt(id);
                var code = $(this).text().trim();
                var name = $(this).attr("name");
                $(this).html(
                    "<input id='" + id + "' type='text' value='" + code
                    + "' name='" + name + "'> ");
                $("#" + id).focus();// 文本框获取光标事件
                followParamSave(id, name);

            });
    }

    function followParamSave(id, name) {
        $("#" + id).dblclick(function (e) {
            stopBubble(e);
        });
        $("#" + id).blur(
            function (e) {
                var updatedArgs = $(this).val();
                var trlabele = $(this).closest("td");
                trlabele.text(updatedArgs);
                var data = {
                    id: id
                };
                data[name] = updatedArgs;
                $.ajax({
                    url: 'savaRemarkFollow.do',
                    dataType: 'json',
                    type: 'post',
                    data: data,
                    success: function (data) {
                        var trlabel = trlabele.parents();
                        //
                    },
                    error: function () {
                        alert("修改失败!");
                    }
                });

            });
    }
    function stopBubble(e) {
//如果提供了事件对象，则这是一个非IE浏览器
        if ( e && e.stopPropagation )
        //因此它支持W3C的stopPropagation()方法
            e.stopPropagation();
        else
        //否则，我们需要使用IE的方式来取消事件冒泡
            window.event.cancelBubble = true;
    }
    //阻止浏览器的默认行为
    function stopDefault( e ) {
        //阻止默认浏览器动作(W3C)
        if ( e && e.preventDefault )
            e.preventDefault();
        //IE中阻止函数器默认动作的方式
        else
            window.event.returnValue = false;
        return false;
    }

</script>
</html>