<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>辅料指定工厂</title> <@p.cache/> <@p.css/> <@p.js/>
    <script type="text/babel" src="/res/js/acces/accesCommon.js"></script>
    <script type="text/babel" src="/res/js/acces/accesOderSort.js"></script>
</head>
<body>
<@p.top/>
<div class="main-container" id="main-container">
    <div class="main-container-inner">
        <@p.left/>
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li><i class="icon-home home-icon"> </i> <a href="#">
                        Home </a></li>
                    <li><a href="#"> Tables </a></li>
                    <li class="active">辅料指定工厂</li>
                </ul>
                <!-- .breadcrumb -->
                <div class="nav-search" id="nav-search"></div>
                <!-- #nav-search -->
            </div>
            <div class="col-md-12">
                <button id="add_button" class="btn btn-primary btn-lg"
                        data-toggle="modal" data-target="#myModal">添加
                </button>
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-md-12">
                <form enctype="multipart/form-data" role="form" action=""
                      id="form-anyVal" method="post">
                    <div id="val-input-empty" class="col-md-12">
                        <div class="col-md-2">
                            <label for="queryAddDate">日期</label>
                            <input type="text" name="addDate" id="queryAddDate"/>
                        </div>
                        <div class="col-md-2">
                            <label for="queryWave">波次号</label>
                            <input type="text" name="wave" id="queryWave"/>
                        </div>
                        <div class="col-md-2">
								<span class="input-group-btn">
									<button id="queryAccesOrderSort" class="btn btn-default" type="button"> 查询</button>
								</span>
                        </div>
                    </div>
                    <div>
                        <input hidden="hidden" type="text" id="pageNow" name="pageNow" value="">
                        <input hidden="hidden" type="text" id="pageSize" name="pageSize" value="">
                    </div>
                </form>
            </div>
            <div class="page-content">
                <div class="col-xs-12">
                    <div class="tabbable">
                        <table class="table  table-bordered">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>日期</th>
                                <th>波段</th>
                                <th>订单数</th>
                                <th>订单详情</th>
                                <th>裁剪数</th>
                                <th>裁剪日期</th>
                                <th>指定工厂</th>
                                <th>指定工厂日期</th>
                                <th>图片</th>
                                <th>辅料1</th>
                                <th>规格1</th>
                                <th>数量1</th>
                                <th>辅料2</th>
                                <th>规格2</th>
                                <th>数量2</th>
                                <th>辅料3</th>
                                <th>数量3</th>
                                <th>辅料4</th>
                                <th>数量4</th>
                                <th>辅料5</th>
                                <th>数量5</th>
                                <th>辅料6</th>
                                <th>数量6</th>
                                <th>备注</th>
                                <th>状态</th>
                                <th>完成数</th>
                                <th>辅料总数</th>
                            </tr>
                            </thead>
                            <tbody class="table_app">
                            </tbody>
                        </table>
                        <ul class="pager pagination-lg tcdPageCode">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    //页面加载就执行
    $(function () {
        $(".col-md-2").find(":input").each(
            function () {
                $(this).val("");
            });
        var anyVal = $("#form-anyVal").serialize();
        orderRationSpecBpcnt(anyVal);
    });
    //查询
    $("#anyVal-btn").on("click", function () {
        var anyVal = $("#form-anyVal").serialize();
        orderRationSpecBpcnt(anyVal);
    });
    //提交
    $("#submit-btn").on("click", function () {
        var formData = new FormData($("#form-input")[0]);
        var if_input_Id = $("#obj_hidden_id").val();
        if (if_input_Id != "" && if_input_Id != null) {
            //修改
            modifyAccessoryMaterial(formData);
        } else {
            //添加
            addAccessoryMaterial(formData);
        }
    });
    //查询总条数
    function orderRationSpecBpcnt(anyVal) {
        $.post('orderSpecBpcnt.do', anyVal,
            function (data) {
                $("#pageSize").val(10); //默認查 10條數據这里啊 默认值是10
                $("#pageNow").val(data.pageNow);
                var anyVal2 = $("#form-anyVal").serialize();
                //获取form参数进行查询
                //調用方法传参
                orderRationSpec(anyVal2);
                // 进入后台进行分页查询
                $(".tcdPageCode").createPage({ //哦哦
                    pageCount: data.totalPageCount, //总页数
                    current: data.pageNow, //当前页
                    backFn: function (p) {
                        $("#pageSize").val(10);
                        $("#pageNow").val(p); //給當前頁賦值
                        var anyVal1 = $("#form-anyVal").serialize(); //获取form表单
                        //調用方法
                        orderRationSpec(anyVal1);
                    }
                });
            });
    }
    //查询
    function orderRationSpec(anyVal) {
        $.post("orderSpecList.do", anyVal, //from表单内容
            function (data) {
                $(".table_app").empty(); //清空原有的数据
                for (var i = 0; i < data.length; i++) {
                    var _HTML_TEBLE_ = "";
                    _HTML_TEBLE_ = "<tr>" +
                        + "<input type='hidden' class='id' value='"
                        + data[i].id
                        + "'/>"
                        +"<td>"
                        + data[i].id
                        + "</td><td >"
                        + (data[i].addTime == null ? '': data[i].addTime)
                        + "</td><td >"
                        + (data[i].wave == null ? '': data[i].wave)
                        + "</td><td >"
                        + (data[i].orderNum == null ? '': data[i].orderNum)
                        + "</td><td >"
                        + (data[i].orderDetails == null ? '': data[i].orderDetails)
                        + "</td><td >"
                        + (data[i].cropNum == null ? '': data[i].cropNum)
                        + "</td><td >"
                        + (data[i].cropDate == null ? '': data[i].cropDate)
                        + "</td><td >"
                        + (data[i].specFctry == null ? '': data[i].specFctry)
                        + "</td><td >"
                        + (data[i].specFctryDate == null ? '': data[i].specFctryDate)
                        + "</td><td >"
                        + (data[i].img == null ? '': data[i].img)
                        + "</td><td>"
                        + (data[i].accesOne == null ? '': data[i].accesOne)
                        + "</td><td class='fillOrderSort' name='accesOneEtalonDescription'>"
                        + (data[i].accesOneEtalonDescription == null ? '': data[i].accesOneEtalonDescription)
                        + "</td><td name='accesOneQuantity'>"
                        + (data[i].accesOneQuantity == null ? '': data[i].accesOneQuantity)
                        + "</td><td class='fillOrderSort'>"
                        + (data[i].accesTwo == null ? '': data[i].accesTwo)
                        + "</td><td class='fillOrderSort' name='accesTwoEtalonDescription'>"
                        + (data[i].accesTwoEtalonDescription == null ? '': data[i].accesTwoEtalonDescription)
                        + "</td><td name='accesTwoQuantity'>"
                        + (data[i].accesTwoQuantity == null ? '': data[i].accesTwoQuantity)
                        + "</td><td >"
                        + (data[i].accesThree == null ? '': data[i].accesThree)
                        + "</td><td name='accesThreeQuantity'>"
                        + (data[i].accesThreeQuantity == null ? '': data[i].accesThreeQuantity)
                        + "</td><td class='fillOrderSort' name='accesFour'>"
                        + (data[i].accesFour == null ? '': data[i].accesFour)
                        + "</td><td name='accesFourQuantity'>"
                        + (data[i].accesFourQuantity == null ? '': data[i].accesFourQuantity)
                        + "</td><td class='fillOrderSort' name='accesFive'>"
                        + (data[i].accesFive == null ? '': data[i].accesFive)
                        + "</td><td name='accesFiveQuantity'>"
                        + (data[i].accesFiveQuantity == null ? '': data[i].accesFiveQuantity)
                        + "</td><td class='fillOrderSort' name='accesSix'>"
                        + (data[i].accesSix == null ? '': data[i].accesSix)
                        + "</td><td name='accesSixQuantity'>"
                        + (data[i].accesSixQuantity == null ? '': data[i].accesSixQuantity)
                        + "</td><td class='fillOrderSort' name='accesRemarks'>"
                        + (data[i].accesRemarks == null ? '': data[i].accesRemarks)
                        + "</td><td class='accesStatus"+data[i].id+"'>"
                        + (data[i].accesStatus == null ? '': data[i].accesStatus)
                        + "</td><td>"
                        + (data[i].readySumSort == null || data[i].readySumSort == "" ? '' : data[i].readySumSort)
                        + "</td><td>"
                        + (data[i].sumSort == null || data[i].sumSort == "" ? '' : data[i].sumSort)
                        + "</td>";
                    $(".table_app").append(_HTML_TEBLE_);
                    var accesStatus = data[i].accesStatus;
                    var issId = data[i].id;
//                    changeOrderSortBgc(accesStatus,issId);

                }
            });
    }

</script>
</html>