<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
		<property name="dialect" value="mysql" />
	</properties>
	<settings>
		<setting name="cacheEnabled" value="true" />
	</settings>
	<!-- <typeAliases>
		<typeAlias alias="GoodsImg" type="com.warehouse.entity.GoodsImg" />
		<typeAlias alias="SalesReport" type="com.warehouse.entity.SalesReport" />
	</typeAliases>
	<mappers>
		基于注解的配置
		<mapper class="com.warehouse.dao.StockAlertMapper" />
	</mappers> -->
</configuration> 
