<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<@p.cache/> <@p.js/><@p.css/>
<script src="/res/js/laypage/laypage.js"></script>
<script src="/res/js/ajaxfileupload.js"></script>
<script src="/res/js/company/productInfo.js"></script>
<title>商品详细信息</title>

<style type="text/css">
* {
	font-size: 13px;
	line-height: 25px;
}
</style>
</head>
<body>
	<@p.top/>

	<div style="width: 100%" class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>

		<div class="main-container-inner">
			<@p.left/>
			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li><i class="icon-home home-icon"> </i> <a href="#">
								Home </a></li>
						<li><a href="#"> Tables </a></li>
						<li class="active">商品详细信息</li>
					</ul>
					<div class="nav-search" id="nav-search"></div>
				</div>
				<div>
					<div class="col-md-12">
						<form id="mySelect_From">
							<div class="col-md-2" style="float: left;">
								<label for="productCodes">商品编号</label> <input type="text"
									class="form-control date" name="productCodes">
							</div>
							<div class="col-md-2" style="float: left;">
								<label for="wave">商品波次</label> <input type="text"
									class="form-control date" name="wave">
							</div>
							<div class="col-md-2" style="float: left;">
								<label for="productName">商品名称</label> <input type="text"
									class="form-control date" name="productName">
							</div>
							<div class="col-md-2" style="float: left;">
								<label for="productOldName">商品名称(旧)</label> <input type="text"
									class="form-control date" name="productOldName">
							</div>
							<div class="col-md-2" style="float: left;">
								<label for="productShortName">商品简称</label> <input type="text"
									class="form-control date" name="productShortName">
							</div>
							<div class="col-md-2" style="float: left;">
								<label for="excleFile">excle文件</label> <input type="text"
									class="form-control date" name="excleFile">
							</div>
						</form>
						<div class="col-md-2">
							<br />
							<button type="button" class="btn btn-default"
								data-dismiss="modal" style="background-color: #428bca;"
								id="mySelectProduct">查询</button>
						</div>
					</div>
				</div>
				<div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th colspan="10" style="text-align: center; font-size: 16px;">商品详细信息</th>
								<th colspan="2" style="border-left: 0px;">
									<div class="col-md-12" style="border-left: 0px;">
										<button style="float: right;" class="btn btn-primary btn-lg"
											data-toggle="modal" data-target="#myModal" id="add"
											onclick="Clear()">添加</button>
									</div>
								</th>
							</tr>
							<tr>
								<th style="text-align: center;">序号</th>
								<th style="text-align: center;">商品编号</th>
								<th style="text-align: center;">商品波次</th>
								<th style="text-align: center;">商品名称</th>
								<th style="text-align: center;">商品名称(旧)</th>
								<th style="text-align: center;">商品简称</th>
								<th style="text-align: center;">excle文件</th>
								<th style="text-align: center;">商品图片</th>
								<th style="text-align: center;">工艺单</th>
								<th style="text-align: center;">尺码表</th>
								<th style="text-align: center;" colspan="2">操作</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<!-- 分页 -->
					<div id="pageSystem"
						style="width: 100%; position: relative; top: 10px;"></div>
				</div>
			</div>

			<!-- 添加模态框 -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">添加商品信息</h4>
						</div>
						<form action="" method="post" id="add_form"
							enctype="multipart/form-data">
							<div class="modal-body">

								<div class="col-md-12">
									<div class="col-md-4" style="float: left;">
										<label for="productCodes">商品编号</label> <input type="text"
											class="form-control date" name="productCodes">
									</div>
									<div class="col-md-4" style="float: left;">
										<label for="wave">商品波次</label> <input type="text"
											class="form-control date" name="wave">
									</div>
									<div class="col-md-4" style="float: left;">
										<label for="productName">商品名称</label> <input type="text"
											class="form-control date" name="productName">
									</div>
									<div class="col-md-4" style="float: left;">
										<label for="productOldName">商品名称(旧)</label> <input type="text"
											class="form-control date" name="productOldName">
									</div>
									<div class="col-md-4" style="float: left;">
										<label for="productShortName">商品简称</label> <input type="text"
											class="form-control date" name="productShortName">
									</div>
									<div class="col-md-4" style="float: left;">
										<label for="excleFile">excle文件</label> <input type="text"
											class="form-control date" name="excleFile">
									</div>
									<div class="col-md-4" style="float: left;">
										<label for="productImg">商品图片</label> <input type="file"
											name="productImgFile">
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary"
									data-dismiss="modal" id="addSub"
									style="background-color: #428bca;">添加</button>
							</div>
						</form>
					</div>
				</div>
			</div>



			<!-- 修改模态框 -->
			<div class="modal fade" id="myModal1" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">修改商品信息</h4>
						</div>
						<form action="" method="post" id="update_form"
							enctype="multipart/form-data">
							<div class="modal-body">
								<div class="col-md-12">
									<input type="hidden" name="id" id="id">
									<div class="col-md-4" style="float: left;">
										<label for="productCodes">商品编号</label> <input type="text"
											class="form-control date" name="productCodes"
											id="productCodes">
									</div>
									<div class="col-md-4" style="float: left;">
										<label for="wave">商品波次</label> <input type="text"
											class="form-control date" name="wave" id="wave">
									</div>
									<div class="col-md-4" style="float: left;">
										<label for="productName">商品名称</label> <input type="text"
											class="form-control date" name="productName" id="productName">
									</div>
									<div class="col-md-4" style="float: left;">
										<label for="productOldName">商品名称(旧)</label> <input type="text"
											class="form-control date" name="productOldName"
											id="productOldName">
									</div>
									<div class="col-md-4" style="float: left;">
										<label for="productShortName">商品简称</label> <input type="text"
											class="form-control date" name="productShortName"
											id="productShortName">
									</div>
									<div class="col-md-4" style="float: left;">
										<label for="excleFile">excle文件</label> <input type="text"
											class="form-control date" name="excleFile" id="excleFile">
									</div>
									<div class="col-md-4" style="float: left;">
										<input type="hidden" name="productImg" id="productImg">
										<label for="productImg">商品图片</label> <input type="file"
											name="productImgFile">
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary"
									data-dismiss="modal" id="updateSub"
									style="background-color: #428bca;">修改</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<!-- 隐藏的绝对路径，供jquery使用 -->
			<input type="hidden" value="${pageContext.request.contextPath}"
				id="path">
</body>
</html>