<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.warehouse.dao.SewingFactoryPickingOrderMapper">
	<resultMap id="BaseResultMap"
		type="com.warehouse.entity.SewingFactoryPickingOrder">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="SEWING_ID" property="sewingId" jdbcType="INTEGER" />
		<result column="ORDER_ID" property="orderId" jdbcType="INTEGER" />
		<result column="SEWING_FACTORY" property="sewingFactory"
			jdbcType="VARCHAR" />
		<result column="WAVE" property="wave" jdbcType="VARCHAR" />
		<result column="CODE52" property="code52" jdbcType="INTEGER" />
		<result column="CODE59" property="code59" jdbcType="INTEGER" />
		<result column="CODE66" property="code66" jdbcType="INTEGER" />
		<result column="CODE73" property="code73" jdbcType="INTEGER" />
		<result column="CODE80" property="code80" jdbcType="INTEGER" />
		<result column="CODE90" property="code90" jdbcType="INTEGER" />
		<result column="CODE100" property="code100" jdbcType="INTEGER" />
		<result column="CODE110" property="code110" jdbcType="INTEGER" />
		<result column="CODE120" property="code120" jdbcType="INTEGER" />
		<result column="CODE130" property="code130" jdbcType="INTEGER" />
		<result column="CODE160" property="code160" jdbcType="INTEGER" />
		<result column="CODE170" property="code170" jdbcType="INTEGER" />
		<result column="TOTAL" property="total" jdbcType="INTEGER" />
		<result column="DESIGN_IMG" property="designImg" jdbcType="VARCHAR" />
		<result column="SEWING_STATUS" property="sewingStatus"
			jdbcType="VARCHAR" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="ADD_TIME" property="addTime" jdbcType="VARCHAR" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="VARCHAR" />
		<result column="DEL_TIME" property="delTime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, SEWING_ID, ORDER_ID, SEWING_FACTORY, WAVE, CODE52,
		CODE59, CODE66,
		CODE73,
		CODE80, CODE90, CODE100, CODE110, CODE120,
		CODE130, CODE160, CODE170,TOTAL,
		DESIGN_IMG,
		SEWING_STATUS, REMARK,
		ADD_TIME,
		UPDATE_TIME, DEL_TIME
	</sql>
	<!-- 分页查询 -->
	<select id="getCountBySewingFactory" resultType="java.lang.Integer"
		parameterType="com.warehouse.entity.SewingFactoryPickingOrder">
		select count(0)
		from sewing_factory_picking_order
		where 1=1 and
		SEWING_STATUS !='0'
		<if test="orderId != null">
			and ORDER_ID =#{orderId,jdbcType=INTEGER}
		</if>

	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="com.warehouse.entity.SewingFactoryPickingOrder">
		select
		<include refid="Base_Column_List" />
		from sewing_factory_picking_order
		where 1=1 and SEWING_STATUS !='0'
		<if test="orderId != null">
			and ORDER_ID =#{orderId,jdbcType=INTEGER}
		</if>
		limit #{begin},#{end}
	</select>
	<!-- 修改 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.warehouse.entity.SewingFactoryPickingOrder">
		update sewing_factory_picking_order
		<set>
			<if test="sewingStatus != null">
				SEWING_STATUS = #{sewingStatus,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>

	<!-- 根据订单号查询 -->
	<select id="selSewingFactory" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sewing_factory_picking_order
		where ORDER_ID =#{orderId,jdbcType=INTEGER}
	</select>

</mapper>