<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>后台管理系统</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- basic styles -->
<@p.cache/> <@p.js/><@p.css/>
<script type="text/javascript">
	$(function() {
		getAll();
	});
	function getAll() {
		$.ajax({
			url : $("#path").val() + '/buildProgressReport/getCount.do',
			type : 'post',
			dataType : 'json',
			async : false,
			success : function(data) {
				select1(data.date, data.storage, "跟单裁片外发进度报表(款式)");
			},
			error : function() {
				alert("查询失败");
			}
		});
		$.ajax({
			url : $("#path").val() + '/buildProgressReport/getSum.do',
			type : 'post',
			dataType : 'json',
			async : false,
			success : function(data) {
				select2(data.date, data.storage, "跟单裁片外发进度报表(数量)");
			},
			error : function() {
				alert("查询失败");
			}
		});
	}
	function select1(date, storage, title) {
		$('#container1').highcharts({
			title : {
				text : title
			},
			subtitle : {
				text : ''
			},
			xAxis : {
				categories : date
			},
			yAxis : {
				title : {
					text : ''
				}
			},
			plotOptions : {
				line : {
					dataLabels : {
						enabled : true
					},
					enableMouseTracking : true
				}
			},
			series : storage,
		});
	}
	function select2(date, storage, title) {
		$('#container2').highcharts({
			title : {
				text : title
			},
			subtitle : {
				text : ''
			},
			xAxis : {
				categories : date
			},
			yAxis : {
				title : {
					text : ''
				}
			},
			plotOptions : {
				line : {
					dataLabels : {
						enabled : true
					},
					enableMouseTracking : true
				}
			},
			series : storage,
		});
	}
</script>
</head>
<body>
	<@p.top/>
	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>
		<div class="main-container-inner">
			<@p.left/>
			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try {
							ace.settings.check('breadcrumbs', 'fixed')
						} catch (e) {
						}
					</script>
					<ul class="breadcrumb">
						<li><i class="icon-home home-icon"></i> <a href="#">首页</a></li>
						<li class="active">控制台</li>
					</ul>
					<!-- .breadcrumb -->
				</div>
				<div class="page-content">
					<div class="page-header">
						<h1>
							控制台 <small><i class="icon-double-angle-right"></i> 查看</small>
						</h1>
					</div>
					<!-- /.page-header -->
					<div class="row">

						<!-- 展现报表 -->
						<div>
							<div id="container1"
								style="border: 1px black; width: 1024px; height: 450px; margin: 0 auto;"></div>
							<div id="container2"
								style="border: 1px black; width: 1024px; height: 450px; margin: 0 auto;"></div>
						</div>

						<input type="hidden" value="${pageContext.request.contextPath}"
							id="path">
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
			<!-- /.main-content -->
		</div>
		<!-- /.main-container-inner -->

		<a href="#" id="btn-scroll-up"
			class="btn-scroll-up btn btn-sm btn-inverse"> <i
			class="icon-double-angle-up icon-only bigger-110"></i>
		</a>
	</div>


</body>
</html>

