<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>生产问题反馈</title><@p.cache/> <@p.js/><@p.css/>
<script src="res/js/getDiscrepantDays/getDiscrepantDays.js"></script>
<script src="/res/js/cutting/layer/layer.js"></script>
<script src="/res/js/laypage/laypage.js"></script>
<script src="/res/js/cutting/ProductionProblem.js"></script>

</head>
<body>
	<@p.top/>
	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>
		<div class="main-container-inner">
			<@p.left/>
			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li><i class="icon-home home-icon"> </i> <a href="#">
								Home </a></li>
						<li><a href="#"> Tables </a></li>
						<li class="active">生产问题反馈</li>
					</ul>
					<div class="nav-search" id="nav-search"></div>
				</div>
				<div>
					<div class="col-md-12">
						<form id="mySelect_From">
							<div class="col-md-2">
								<label for="wave">波次号</label><input type="text"
									class="form-control" name="wave">
							</div>
						</form>
						<div class="col-md-2">
							<br />
							<button type="button" class="btn btn-default"
								data-dismiss="modal" style="background-color: #428bca;"
								id="myselect">查询</button>
						</div>
					</div>
				</div>
				<div>
					<table class="table table-bordered"
						style="width: 100%; height: 100%;">
						<thead>
							<tr>
								<th colspan="18" style="text-align: center; font-size: 25px;">生产问题表</th>
							</tr>
							<tr>
								<th style="text-align: center; font-size: 16px;">序号</th>
								<th style="text-align: center; font-size: 16px;">波次号</th>
								<th style="text-align: center; font-size: 16px;">原波次</th>
								<th style="text-align: center; font-size: 16px;">产品图</th>
								<th style="text-align: center; font-size: 16px;">工艺单</th>
								<th style="text-align: center; font-size: 16px;">尺码图</th>
								<th style="text-align: center; font-size: 16px;">订单明细</th>
								<th style="text-align: center; font-size: 16px;">订单数量</th>
								<th style="text-align: center; font-size: 16px;">裁剪人</th>
								<th style="text-align: center; font-size: 16px;">裁剪数量</th>
								<th style="text-align: center; font-size: 16px;">发料人</th>
								<th style="text-align: center; font-size: 16px;">跟踪员</th>
								<th style="text-align: center; font-size: 16px;">生产问题</th>
								<th style="text-align: center; font-size: 16px;">问题产生时间</th>
								<th style="text-align: center; font-size: 16px;">是否解决</th>
								<th style="text-align: center; font-size: 16px;">解决时间</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<!-- 分页 -->
					<div id="pageSystem"
						style="width: 100%; position: relative; top: 10px;"></div>
					<div style="display: none;">
						<img id="printImg" src="" width="100%" height="100%">
					</div>
				</div>
			</div>

			<input type="hidden" value="${pageContext.request.contextPath}"
				id="path">
</body>
<script type="text/javascript" src="/res/js/input-date.js"></script>
</html>