<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<@p.cache/> <@p.js/><@p.css/>
<script src="/res/js/laypage/laypage.js"></script>
<script src="/res/js/orderMemo/salesReportOfWdt.js"></script>
<title>销售记录</title>
<style type="text/css">
* {
	font-size: 13px;
	line-height: 25px;
}
</style>
</head>
<body>
	<@p.top/>

	<div style="width: 100%" class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>

		<div class="main-container-inner">
			<@p.left/>
			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li><i class="icon-home home-icon"> </i> <a href="#">
								Home </a></li>
						<li><a href="#"> Tables </a></li>
						<li class="active">销售记录</li>
					</ul>
					<div class="nav-search" id="nav-search"></div>
				</div>
				<div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th colspan="16" style="text-align: center; font-size: 16px;">销售记录</th>
							</tr>
							<tr>
								<th style="text-align: center;">商品尺码编码</th>
								<th style="text-align: center;">商品编码</th>
								<th style="text-align: center;">商品名称</th>
								<th style="text-align: center;">库存数</th>
								<th style="text-align: center;">7日销量</th>
								<th style="text-align: center;">14日销量</th>
								<th style="text-align: center;">30日销量</th>
								<th style="text-align: center;">总销量</th>
								<th style="text-align: center;">7日销量均值</th>
								<th style="text-align: center;">14日销量均值</th>
								<th style="text-align: center;">30日销量均值</th>
								<th style="text-align: center;">7日均值可售天数</th>
								<th style="text-align: center;">14日均值可售天数</th>
								<th style="text-align: center;">30日均值可售天数</th>
								<th style="text-align: center;">图片</th>
								<th style="text-align: center;">生成返单</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<!-- 分页 -->
					<div id="pageSystem"
						style="width: 100%; position: relative; top: 10px;"></div>
				</div>
			</div>
			<!-- 添加模态框 -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">添加数量信息</h4>
						</div>
						<div class="modal-body">
							<input type="hidden" name="girardOld" id="girardOld" /><input
								type="hidden" name="productName" id="productName" /> <input
								type="hidden" name="productShortName" id="productShortName" />
							<input type="hidden" name="productOldName" id="productOldName" />
							<input type="hidden" name="excleFile" id="excleFile" /> <input
								type="hidden" name="productImg" id="productImg" />
							<div class="col-md-12">
								<div class="col-md-4" style="float: left;">
									<label for="girard">波次</label> <input type="text"
										class="form-control date" name="girard" id="girard">
								</div>
								<div class="col-md-4" style="float: left;">
									<label for="productCodes">商品编码</label><input type="text"
										class="form-control date" readonly="readonly"
										name="productCodes" id="productCodes" />
								</div>
								<div class="col-md-4" style="float: left;">
									<label for="code52">52码</label> <input type="text"
										class="form-control date" name="code52" id="code52">
								</div>
								<div class="col-md-4" style="float: left;">
									<label for="code59">59码</label> <input type="text"
										class="form-control date" name="code59" id="code59">
								</div>
								<div class="col-md-4" style="float: left;">
									<label for="code66">66码</label> <input type="text"
										class="form-control date" name="code66" id="code66">
								</div>
								<div class="col-md-4" style="float: left;">
									<label for="code73">73码</label> <input type="text"
										class="form-control date" name="code73" id="code73">
								</div>
								<div class="col-md-4" style="float: left;">
									<label for="code80">80码</label> <input type="text"
										class="form-control date" name="code80" id="code80">
								</div>
								<div class="col-md-4" style="float: left;">
									<label for="code90">90码</label> <input type="text"
										class="form-control date" name="code90" id="code90">
								</div>
								<div class="col-md-4" style="float: left;">
									<label for="expectTime input-date">预计出货时间</label> <input
										type="text" class="form-control date  input-date"
										name="expectTime" id="expectTime">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default closeBtn"
								data-dismiss="modal">关闭</button>
							<button type="button" class="btn btn-primary"
								data-dismiss="modal" id="addSub"
								style="background-color: #428bca;">添加</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 隐藏的绝对路径，供jquery使用 -->
			<input type="hidden" value="${pageContext.request.contextPath}"
				id="path">
</body>
<script type="text/javascript" src="/res/js/input-date.js"></script>
</html>